body {
  font-size: 16px;
  color: white;
  font-family: "Open Sans";
  background-color: #000000;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }
}

header {

  margin-top: 30vh;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    justify-content: flex-start;
  }
}

.choose {
  margin-top: 15px;
}

.selection {
  @include desktop {
    margin-left: 50px;
  }
}

//Code to change the header in tablet and desktop mode

//Animations

@keyframes header-transition {
     from {margin-top: 30vh;}
  to {margin: 0;}
}

@keyframes header-transition2 {
    from {margin-top: 0;}
 to {margin: 30vh;}
}

@keyframes article-text {
    from {margin-top: 0;}
 to {margin: 30vh;}
}

.header-top {
    
  margin: 0px;
  padding-top: 25px;
  animation-name: header-transition;
  animation-duration: 1s;
}


.logo-size {

  @include tablet {
    margin-right: 25px;

    object {
      width: 40%;
    }
  }
}

//End of responsive header changes

.main-content {

  display: grid;
  grid-template-columns: 1fr;
  margin-top: 25px;

  figure {
    position: relative;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.article-image img {
  grid-column-start: 1;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.article-text {
  text-align: left;
  grid-column-start: 1;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0px;
  padding: 15px 20px;
}

footer {
  color: #c2c2c2;
  text-align: center;
  padding: 20px 0px 40px 0px;

  @include desktop {
    text-align: left;
    margin-left: 25px;
  }
}

.bottom-text {
  position: fixed;
  bottom: 35px;
  width: 100%;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
  }
}
